<html>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <header>
        <nav style="position:absolute; margin-top: -20px; background-color: rgba(0, 0, 0, 1);" class="navbar  navbar-dark">
          <div>
      
            <span style="position:absolute; right:40px; top:40px" (click)="toggleNavbar()">
              <img id="menu_icon" src='/../assets/images/Menu Icon.png'>
            </span>
          </div>
      
          <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: #6667AB;"><img style="width: 30vw;" src='/../assets/images/Logow.png'></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-component" style="color: #6667AB;">ABOUT</a>
                <div class="hor"></div>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="/gt-component" style="color: #6667AB;">THE GOLDEN THREAD</a>
                <div class="hor"></div>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="/services-component" style="color: #6667AB;">SERVICES</a>
                <div class="hor"></div>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="/portfolio-component" style="color: #6667AB;">PORTFOLIO</a>
                <div class="hor"></div>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: #6667AB;">CONTACT</a>
              </li>
              <li class="nav-item other">
                <a class="nav-link" href="#">FAQ</a>
                <a class="nav-link" href="#">PRIVACY POLICY</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      
    <body [ngClass]="status ? 'blur-on' : 'blur-off'">
      <div [ngClass]="status ? 'pd' : 'pd-off'">
    <!-- <video autoplay muted loop id="myVideo">
            <source src="/../assets/images/video.mp4" type="video/mp4">
          </video> -->








          <div style="background-color: #E0E7ED;">

            <div id="gt">THE GOLDEN THREAD</div>
            <div class="col-12 subtitleLight">
                A formula for a brand's successful strategic path within the luxury multiverse.
            </div>
            <div id="line1">
                <img style="width: 80%;" src='/../assets/images/Frame.png'>
              </div>
              <div class="col-12 subtitle2">
                Vehicula ipsum a arcu cursus. Pulvinar mattis nunc sed blandit libero volutpat. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Non enim praesent elementum facilisis leo vel fringilla est. Aenean vel elit scelerisque mauris. Feugiat vivamus at augue eget arcu dictum.  - Lorem Ipsum
            </div>
            <!-- <div id="menu_icon"><img src='/../assets/images/Menu Icon.png'></div> -->
            <div class="wrapper">
                <span style=" display: inline-block;
                width: 180px;">Target Profile</span>
                <img style="width: 1.5em;" src='/../assets/images/Featherp.png'>
                <span style="display: inline-block;
                width: 180px;">POD</span>
                <img style="width: 1.5em;" src='/../assets/images/Featherp.png'>
                <span style="display: inline-block;
                width: 180px;">Market Segments</span>
            </div>
       

            <div class="wrapper1">
                <span style=" display: inline-block;
                width: 180px;">A formula for a brand's successful strategic path within the luxury multiverse.</span>
                <img style="width: 1.5em;">
                <span style="display: inline-block;
                width: 180px;">A formula for a brand's successful strategic path within the luxury multiverse.</span>
                <img style="width: 1.5em;">
                <span style="display: inline-block;
                width: 180px;">A formula for a brand's successful strategic path within the luxury multiverse.</span>

            </div>

            <div style="margin-top: 300px; margin-left: 12%;">
                <div id="title2">AJSDNKJANJS</div>
                <div id="text2">Vehicula ipsum a arcu cursus. Pulvinar mattis nunc sed blandit libero volutpat. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Non enim praesent elementum facilisis leo vel fringilla est. Aenean vel elit scelerisque mauris. Feugiat vivamus at augue eget arcu dictum. Non enim praesent elementum facilisis leo vel fringilla est. Aenean vel elit scelerisque mauris. Feugiat vivamus at augue eget arcu dictum. </div>
                <div  style="font-size: 24px; color:#14393F; font-family: 'Public sans'; font-weight: bold;">
                 <a style="color:#14393F; text-decoration: none;" href="/gt1-component"> The Golden Thread</a>  
                     <img src='/../assets/images/arrowb.png'>
                   </div>
            </div>

            <div id="line1">
                <img style="width: 80%; margin-top: 250px; margin-bottom: 100px;" src='/../assets/images/Frame.png'>
              </div>
              <div id="contact">contact us</div>
              <div id="socials">
                <div>
                  <img src='/../assets/images/Feather.png'>
                </div>
                <div>
                  <img src='/../assets/images/Feather1.png'>
                </div>
                <div>
                  <img src='/../assets/images/Feather3.png'>
                </div>
              </div>
            
        
          </div>
        
</div>
    </body>
</html>