<html style="height: 100%;">
<header>
  <nav style="position:absolute; margin-top: -20px; background-color: rgba(0, 0, 0, 1);" class="navbar  navbar-fixed-top navbar-dark">
    <div>

      <span style="position:absolute; right:40px; top:40px" (click)="toggleNavbar()">
        <img id="menu_icon" src='assets/images/Menu Icon.png'>
      </span>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li style="margin-top: 100px;" class="nav-item">
          <a class="nav-link" href="#" style="color: #6667AB;"><img style="width: 45vw;" src='assets/images/Logow.png'></a>
        </li>
        <li style="margin-top: 100px;" class="nav-item">
          <a class="nav-link" href="about-component" style="color: #6667AB;">ABOUT</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="gt-component" style="color: #6667AB;">THE GOLDEN THREAD</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="services-component" style="color: #6667AB;">SERVICES</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="portfolio-component" style="color: #6667AB;">PORTFOLIO</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #6667AB;">CONTACT</a>
        </li>
        <li class="nav-item other">
          <a class="nav-link" href="#">FAQ</a>
          <a class="nav-link" href="#">PRIVACY POLICY</a>
        </li>
      </ul>
    </div>
  </nav>
</header>



<body [ngClass]="status ? 'blur-on' : 'blur-off'" >
  <div [ngClass]="status ? 'pd' : 'pd-off'">
  <div style="background-color: #6667AB;">

    <div id="logo"><img src='assets/images/Logow.png'></div>

    <!-- <div id="menu_icon"><img src='/../assets/images/Menu Icon.png'></div> -->

    <div id="contact">contact us</div>
    <div id="socials">
      <div>
        <img src='assets/images/Feather.png'>
      </div>
      <div>
        <img src='assets/images/Feather1.png'>
      </div>
      <div>
        <img src='assets/images/Feather3.png'>
      </div>
    </div>

  </div>

  <div class="container" style="padding-left: 7%; padding-right:7%; padding-top: 200px;">
    <div class="row">
      <div class="subtitle col-md-4 col-lg-4 col-xs-12" style=" display: inline-block;">
        Who We Are
      </div>
      <div class="txt col-md-8 col-lg-8 col-xs-12">
        We are a future-focused creative consultancy using algorithms to pave the way in the luxury multiverse.
      </div>
    </div>
    <div class="row" style="margin-bottom:40px;">
      <div class="subtitle col-md-4 col-lg-4 col-xs-12">
        What We Do
      </div>
      <div class="txt col-md-8 col-lg-8 col-xs-12">
        Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. In hendrerit gravida rutrum quisque non.
        Tortor consequat id porta nibh venenatis cras sed. Enim ut tellus elementum sagittis. Diam sollicitudin tempor
        id eu nisl nunc mi. Nisl rhoncus mattis rhoncus urna neque viverra justo. At tellus at urna condimentum
        mattis.
        Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Ac turpis egestas integer eget
        aliquet nibh praesent tristique. Libero nunc consequat interdum varius. Fermentum posuere urna nec tincidunt
        praesent semper feugiat nibh. Odio pellentesque diam volutpat commodo sed egestas egestas. At ultrices mi
        tempus
        imperdiet nulla malesuada pellentesque elit. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur
        adipiscing.

        Vehicula ipsum a arcu cursus. Pulvinar mattis nunc sed blandit libero volutpat. Praesent semper feugiat nibh
        sed
        pulvinar proin gravida hendrerit. Non enim praesent elementum facilisis leo vel fringilla est. Aenean vel elit
        scelerisque mauris. Feugiat vivamus at augue eget arcu dictum. Donec et odio pellentesque diam volutpat
        commodo
        sed egestas. Sed faucibus turpis in eu mi bibendum neque. Tempus egestas sed sed risus pretium quam vulputate.
        Tortor id aliquet lectus proin. Consectetur libero id faucibus nisl. Neque sodales ut etiam sit amet nisl
        purus
        in. Eu feugiat pretium nibh ipsum consequat nisl vel pretium.
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-12">
      </div>
      <div class="col-md-8 col-lg-8 col-xs-12" >
       <a style=" font-size: 22px; color:#EFC3B9; text-decoration: none;" href="portfolio-component"> Discover our portfolio
        <img style="margin-bottom: 5px; margin-left: 6px" src='assets/images/arrow.png'>
      </a>
      </div>
    </div>

    <div class="row">
      <div class="subtitle col-md-4 col-lg-4 col-xs-12">
        Why Us
      </div>
      <div class="txt col-md-8 col-lg-8 col-xs-12">
        Vehicula ipsum a arcu cursus. Pulvinar mattis nunc sed blandit libero volutpat. Praesent semper feugiat nibh
        sed pulvinar proin gravida hendrerit. Non enim praesent elementum facilisis leo vel fringilla est. Aenean vel
        elit scelerisque mauris. Feugiat vivamus at augue eget arcu dictum. Donec et odio pellentesque diam volutpat
        commodo sed egestas. Sed faucibus turpis in eu mi bibendum neque. Tempus egestas sed sed risus pretium quam
        vulputate. Tortor id aliquet lectus proin. Consectetur libero id faucibus nisl. Neque sodales ut etiam sit
        amet nisl purus in. Eu feugiat pretium nibh ipsum consequat nisl vel pretium.
      </div>
      <div style="margin-bottom: 200px;"></div>
    </div>
  </div>

</div>
</body>

</html>
