<html style="height: 100%;">
<header>
  <nav style="position:absolute; margin-top: -20px; background-color: rgba(0, 0, 0, 1);" class="navbar  navbar-fixed-top navbar-dark">
    <div>

      <span id="bg" style="position:absolute; right:40px; top:40px" (click)="toggleNavbar()">
        <img id="menu_icon" src='assets/images/Menu Icon.png'>
      </span>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
   
        <li style="margin-top: 50px;" class="nav-item">
          <a class="nav-link" href="about-component" style="color: #6667AB;">ABOUT</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="gt-component" style="color: #6667AB;">THE GOLDEN THREAD</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="services-component" style="color: #6667AB;">SERVICES</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="portfolio-component" style="color: #6667AB;">PORTFOLIO</a>
          <div class="hor"></div>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="blog-component" style="color: #6667AB;">OUR VIEWPOINT</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contact-component" style="color: #6667AB;">CONTACT</a>
        </li>
        <li class="nav-item other">
          <a class="nav-link" href="#" >FAQ</a>
          <a class="nav-link" href="#" style="  margin-top: -15px;">PRIVACY POLICY</a>
        </li>
      </ul>
    </div>
  </nav>
</header>



<body [ngClass]="status ? 'blur-on' : 'blur-off'" >
  <div [ngClass]="status ? 'pd' : 'pd-off'">
  <div style="background-color: #6667AB;">

    <div id="logo"><a  href="home-component"><img src='assets/images/Logow.png'></a></div>

    <!-- <div id="menu_icon"><img src='/../assets/images/Menu Icon.png'></div> -->

    <div id="contact">contact us</div>
    <div id="socials">
      <div>
        <img src='assets/images/Feather.png'>
      </div>
      <div>
        <img src='assets/images/Feather1.png'>
      </div>
      <div>
        <img src='assets/images/Feather3.png'>
      </div>
    </div>

  </div>

  <div class="container" style="padding-left: 7%; padding-right:7%; padding-top: 400px;">
    <div class="row">
      <div class="subtitle col-md-4 col-lg-4 col-xs-12" style=" display: inline-block; margin-bottom: 14px;">
        Who We Are
      </div>
      <div class="txt col-md-8 col-lg-8 col-xs-12">
        A future-focused creative consultancy using AI algorithms to pave the way in the luxury multiverse.
      </div>
    </div>
    <div class="row" style="margin-bottom:40px;">
      <div class="subtitle col-md-4 col-lg-4 col-xs-12" style="margin-bottom: 14px;">
        What We Do
      </div>
      <div class="txt col-md-8 col-lg-8 col-xs-12">
        Streamlining signature frameworks and complex concepts into an AI algorithm, where they are infused with data and generate unique solutions for brands seeking a successful path forward. Building on top of those solutions to personalise strategies and brand storytelling through special projects for your brand.
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-12">
      </div>
      <div class="col-md-8 col-lg-8 col-xs-12" >
       <a style=" font-size: 22px; color:#EFC3B9; text-decoration: none;" href="portfolio-component"> Discover our portfolio
        <img style="margin-bottom: 5px; margin-left: 0px;" src='assets/images/arrow.png'>
      </a>
      </div>
    </div>

    <div class="row">
      <div class="subtitle col-md-4 col-lg-4 col-xs-12" style="margin-bottom: 14px;">
        Why Us
      </div>
      <div class="txt col-md-8 col-lg-8 col-xs-12">
        Using the best of both worlds, human insight and machine analysis, you will receive a breakthrough solution to your challenge.
      </div>
      <div style="margin-bottom: 200px;"></div>
    </div>
  </div>

</div>
<div style="font-size: 12px; color: white; font-family: 'Public Sans'; text-align: center; padding-bottom: 40px;">© 2022 PERAPOLIS</div>
</body>

</html>
