<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caudex&family=Public+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar  navbar-dark">
    <div class="nav">
      <a class="navbar-brand" href="#">
        Brand
      </a>
    </div>
    <button style="background-color: black;" class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div id="logo" style="margin-bottom: 40px; margin-top:10px;"><img src='assets/images/Logo1.png'></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #6667AB;">ABOUT</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #6667AB;">THE GOLDEN THREAD</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #6667AB;">SERVICES</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #6667AB;">PORTFOLIO</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #6667AB;">CONTACT</a>
        </li>
        <li class="nav-item other">
          <a class="nav-link" href="#">FAQ</a>
          <a class="nav-link" href="#">PRIVACY POLICY</a>
        </li>
      </ul>
    </div>
  </nav>
</body>

</html>
