<html style="height: 100%;">
<header>
  <nav style="position:absolute; margin-top: -20px; background-color: rgba(0, 0, 0, 1);" class="navbar  navbar-fixed-top navbar-dark">
    <div>

      <span id="bg" style="position:absolute; right:40px; top:40px" (click)="toggleNavbar()">
        <img id="menu_icon" src='assets/images/Menu Icon.png'>
      </span>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
   
        <li style="margin-top: 50px;" class="nav-item">
          <a class="nav-link" href="about-component" style="color: #6667AB;">ABOUT</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="gt-component" style="color: #6667AB;">THE GOLDEN THREAD</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="services-component" style="color: #6667AB;">SERVICES</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="portfolio-component" style="color: #6667AB;">PORTFOLIO</a>
          <div class="hor"></div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="blog-component" style="color: #6667AB;">OUR VIEWPOINT</a>
            <div class="hor"></div>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="contact-component" style="color: #6667AB;">CONTACT</a>
          </li>
        <li class="nav-item other">
          <a class="nav-link" href="#" >FAQ</a>
          <a class="nav-link" href="#" style="  margin-top: -15px;">PRIVACY POLICY</a>
        </li>
      </ul>
    </div>
  </nav>
</header>



<body [ngClass]="status ? 'blur-on' : 'blur-off'" >
  <div [ngClass]="status ? 'pd' : 'pd-off'">
  <div style="background-color: #6667AB;">

    <div id="logo"><a  href="home-component"><img src='assets/images/Logow.png'></a></div>

    <!-- <div id="menu_icon"><img src='/../assets/images/Menu Icon.png'></div> -->

    <div id="contact">contact us</div>
    <div id="socials">
      <div>
        <img src='assets/images/Feather.png'>
      </div>
      <div>
        <img src='assets/images/Feather1.png'>
      </div>
      <div>
        <img src='assets/images/Feather3.png'>
      </div>
    </div>

  </div>

  <div class="container" style=" padding-left: 7%; padding-right:7%; padding-top: 800px; margin-bottom: 130px;">
   <div id='cons' style=" font-family: 'Hatton Medium';margin-top: -120px; color: white">Contacts</div>
   <div style="font-size: 18px; font-family: 'Public Sans'; margin-top: -10px; margin-left: 10px; color: #88A8BE">INFO.PERAPOLIS@GMAIL.COM</div>
  </div>

</div>
<div style="font-size: 12px; color: white; font-family: 'Public Sans'; text-align: center; padding-bottom: 20px;">© 2022 PERAPOLIS</div>
</body>

</html>
