html {
    padding-bottom: 200px;
    background-color: #E0E7ED;
    width: 100%;
  }
  
  nav {

    background-color: #6667ab;
    opacity: 0.5;
    z-index: 1;
    text-align: center;
    width: 100%;
  
    color: white;
  }
  
  .blur-on, .blur-element {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    position:fixed;
    -webkit-transition: all 1s linear;
    transition        : all 1s linear;
    -moz-transition   : all 1s linear;
    -webkit-transition: all 1s linear;
    -o-transition     : all 1s linear;
  }
  .blur-off {
    -webkit-filter: blur(0px) !important;
    -moz-filter   : blur(0px) !important;
    -o-filter     : blur(0px) !important;
    -ms-filter    : blur(0px) !important;
    filter        : blur(0px) !important;
  }

  @media (min-width: 768px) {

    .pd{
      background-color: #6667ab;
      width: 100vw;
    }
    .pd-off{
      padding-right:0px; 
    }
  }
  
  @media (max-width: 768px) {
    .pd{
      background-color: #6667ab;
      width: 100vw;
  
    }
    .pd-off{
      padding-right:0px; 
    }
  }
  
  
  
  nav .show {
    color: white;
  
    padding-bottom: 20px;

  
  }
  
  li a {
    color: white!important;
    font-size: 6vw;
    font-family: "Hatton Semibold";
  }
  

  
  @font-face {
    font-family: "Hatton Semibold";
    src: url("src/assets/images/PPHatton-Semibold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Hatton Ultralight";
    src:  url("src/assets/images/PPHatton-Ultralight.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Hatton Medium";
    src:  url("src/assets/images/PPHatton-Medium.otf") format("opentype");
  }
  
  .hor {
    width: 1px;
    border-left: 1px solid white;
    height: 5vw;
    position: relative;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .other {
  
  
  
  }
  
  
  .other a {
  
    font-size: 12px;
    font-family: "Public Sans", sans-serif;
  }
  
  
  
    
    #contact {
        writing-mode: vertical-rl;
        line-height: 1.2em;
    text-orientation: mixed;
        color: white;
        position:fixed;
        right: 20px;
        bottom: 10%;
        font-family: 'Caudex', serif;
        font-size: 25px;
    }
    
    
    #socials {
        line-height: 1.2em;
    text-orientation: mixed;
        color: white;
        position:fixed;
        left: 20px;
        bottom: 10%;
    
    }
    
  
    
   #gt {
        line-height: 1.2em;
    text-orientation: mixed;
        color: black;
  padding-top: 50px;
        font-family: 'Hatton Medium';
        font-size: 64px;
        top: 50px;
        text-align: center;
    
    }
    
    #menu_icon {
    
        text-orientation: mixed;
            color: rgba(0, 0, 0, 0.2);
            width:40px;
            top: 20px;
            right: 3%
    }
    
  
  body{
      background-color: #E0E7ED;
      width: 100%;
  }
  
  
  .subtitle{
    font-size: 40px;
    font-family: "Hatton Medium";
    color: white;
  }
  
  .row{
    margin-bottom: 100px;
  color: white;
  
  }
  
  .txt{
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;
  color: white;
  }
  
  
  
  pre{
    font-family: 'Public Sans', sans-serif;
  }
  
  
  #logo img{
    width: 24em;
  }
  
  
  @media (max-width: 768px) {
    .col-xs-12 {
            text-align: center;
     } 
  
     nav .show {

      padding-bottom: 150px;
        
        }

        #logo img{
          width: 25em;
          }  
    
  }
  
  #logo {
    line-height: 1.2em;
    text-orientation: mixed;
    color: white;
    position: absolute;
    top: 20px;
    left: 3%;
    
  }
  
  #subtitle{
      color: #14393F;
      font-size: 30px;
      font-family:"Hatton Medium";
      line-height: 1.2em;
      width: 45%;
      margin-left: 3%;
      top: 200px;
  padding-top: 140px;
  }
  
  #wrapper{
      margin-left: 10%;
  }
  
  input{
      margin-top: 20px;
    background: transparent;
    border: none;
    color:#6667AB;
    width: 90%;
    margin-bottom: 10px;
    font-size: 30px
  }
  
  ::placeholder { 
    color:#6667AB;
    opacity: 1; 
    font-size: 30px
  }
  
  #line1{
    position: relative;
  text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }
  
  button {
  background-color: #6667AB;
  color: white;
  height: 80px;
  width: 664px !important;
  margin-top: 20px !important;
  border-radius: 5px;
  opacity: 0.5;
  text-align: left;
  font-size: 26px;
  font-family: 'Public Sans', sans-serif;
  font-weight: lighter;
  
  }

  *{
    background-color:#E0E7ED ;
  }
  #inp{
    font-size: 48px;
    }
    
    #inp1{
    font-size: 48px;
    }
    @media (min-width: 900px) {
  #ka{
    width: 80%;
  }}
  @media (max-width: 768px) {
  button{
    width: 404px !important;
  }
     } 

     @media (max-width: 860px) {
      #logo img{
      width: 300px;
      }
      #bg{
        right: 15px !important;
      }
    
      html{
        margin-bottom: 400px;
        background-color: #E0E7ED;
      }
    
      body{
        margin-bottom: 400px;
        background-color:#E0E7ED;
      }
    
      #inp{
        font-size: 28px;
        }
        
        #inp1{
        font-size: 28px;
        width: 50%;
        margin: auto;
        }

        .inp2{
          font-size: 18px;
          width: 50%;
          margin: auto;
          }
    
      #title2{
    
        font-size: 43px;}
    
        button{
          font-size: 16px;
          height: 70px;
    width: 300px !important;
        }
    
        #wrapper{
          margin-left: 0%;
      }
      #st{
        text-align: center;
    
      }
    }

    :host  {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #60d7a9;
    }

    #contact {
      writing-mode: vertical-rl;
      line-height: 1.2em;
      text-orientation: mixed;
      color: white;
      position: fixed;
      right: 20px;
      bottom: 10%;
      font-family: "Caudex", serif;
      font-size: 22px;
    }
    
    #socials {
      line-height: 1em;
      width: 5px;
      text-orientation: mixed;
      color: white;
      position: fixed;
      left: 20px;
      bottom: 10%;
      background-color: white !important;
    }
    
    #socials img {
      width: 22px;
      margin-bottom: 10px;
    }
    


    li a {
      color: rgb(102, 103, 171)!important;
      font-size: 6vw;
      font-family: "Hatton Semibold";
    }

    #menu_icon{
      margin-top: 6px; 
     }
     @media (min-width: 860px) {
       #menu_icon{
       margin-top: 14px;
     }
     
     
     }
     .hor{
      margin-top: 26px;
      border-left: 1px solid #6667ab;
    }

    li a {

      font-size: 7vw;
    }